*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Krona One', sans-serif;
}

img{
    width: 100%;
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;
}

:root{
    --darkgray: rgba(8, 11, 18, 0.9);
    --littledarkgray: #141922;
    --grayplayer: #282828;
    --graytext: #6F6F6F;
}

.graytext{
    color: var(--graytext);
}

.row{
    display: flex;
}


/**********************************
DIVISIONE MACRO-LAYOUT
**********************************/

.top-big-container{
    display: flex;
    height: calc(100vh - 90px);
}

.footer{
    background-color: var(--grayplayer);
    height: 90px;
}

.header{
    width: 200px;
    flex-shrink: 0;
    background-color: black;
}

.main{
    background-color: var(--littledarkgray);
    flex-grow: 1;
}

.container-upgrade{
    height: 90px;
    background-color: var(--darkgray);
}

/**********************************
HOVER EFFECT
**********************************/

.container_hover_yellow-bar:hover .yellow-bar{
    background-color: yellowgreen;
}

.nav-bar:hover .yellow-bar{
    background-color: yellowgreen;
}


a .graytext:hover{
    color: white;
}

.gray-bg:hover{
    background-color: white;
}



/**********************************
FOOTER PLAYER
**********************************/

.footer .container{
    padding: 0 10px;
    overflow: hidden;
}

.player.row{
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 15px 0;
    gap: 10px;
}

.player .row{
    align-items: center;
    gap: 12px;
}

.row.song{
    align-items: center;
}

.player_type-of-song .type-of-song_img img{
    width: 42px;
    aspect-ratio: 1/1;
	object-fit: cover;
	object-position: center;
}

.player_type-of-song .type-of-song_text{
    font-size: 12px;
    flex-shrink: 0;
}

.player_type-of-song .type-of-song_text p.graytext{
    font-size: 12px;
}

.player_type-of-song .type-of-song_text p.graytext:hover{
    text-decoration: underline;
    color: white;
}

.player_type-of-song .type-of-song_text p:first-child{
    font-weight: bolder;
    font-size: 14px;
}

.player_type-of-song .type-of-song_icon{
    flex-wrap: wrap;
    gap: 6px 12px;
}

.fa-solid.fa-heart,
.fa-solid.fa-folder{
    display: none;
}

.hover-icon:hover .fa-regular.fa-heart{
    display: none;
}

.hover-icon:hover .fa-solid.fa-heart{
    display: block;
}

.hover-icon:hover .fa-regular.fa-folder{
    display: none;
}

.hover-icon:hover .fa-solid.fa-folder{
    display: block;
}

.player .col-6{
    flex-grow: 1;
    max-width: 50%;
    min-width: 220px;
}

.player_impostation-song.row{
    flex-direction: column;
}

.player_impostation-song .col-12{
    width: 100%;
    text-align: center;
}

.player_impostation-song .impostation-song_icon{
    margin: 0 auto;
}

.player_impostation-song .impostation-song_icon > i:not(.big){
    font-size: 18px;
    padding: 0 8px;
}

.player_impostation-song .impostation-song_icon .big{
    font-size: 28px;
    margin: 0 10px;
}

.player_impostation-song .impostation-song_icon > i:hover{
    transform: scale(1.2);
}

.hover-icon .fa-volume-xmark{
    display: none;
    font-size: 18px;
}

.hover-icon:hover .fa-volume-xmark{
    display: block;
}

.hover-icon:hover .fa-volume-high{
    display: none;
}


.impostation-song_time .time-bar{
    background-color: var(--graytext);
    width: 100%;
    margin: 0 25px;
    border-radius: 25px;
}

.impostation-song_time .time-bar .time_bar_on{
    height: 4px;
    background-color: white;
    border-radius: 25px;
    position: relative;
    width: 0;
}

.impostation-song_time:hover .time-bar .time_bar_on{
    animation: progress 60s linear;
}

@keyframes progress {
    from {width: 0%;}
    to {width: 100%;}
}

.cerchio{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: white;
}

[class$="me-bar"]:hover .time_bar_on{
    background-color: rgb(0, 255, 0);
    height: 5px;
}

[class$="me-bar"]:hover .cerchio{
    width: 10px;
    height: 10px;
    background-color: rgb(0, 255, 0);
}

.volume-bar:hover .volume_bar_on{
    background-color: rgb(0, 255, 0);
    height: 5px;
}


.impostation-song_time p{
    font-size: 12px;
}

.player_style.col{
    flex-shrink: 1;
    flex-basis: 20%;
    min-width: 150px;
    max-width: 200px;
}

.player_style-song .style-song_volume{
    width: 100%;
}

.player_style-song .style-song_volume .volume-bar{
    margin-left: 7px;
    background-color: var(--graytext);
    border-radius: 25px;
    flex-grow: 1;
}

.volume-bar .volume_bar_on{
    height: 4px;
    background-color: white;
    border-radius: 25px;
    animation: volume 8s linear;
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes volume {
    0% {width: 0%;}
    20% {width: 80%;}
    40% {width: 60%;}
    60% {width: 100%;}
    90% {width: 60%;}
    100% {width: 0%;}
}

/**********************************
HEADER SIDE BAR
**********************************/

.header .header_container{
    justify-content: space-between;
    flex-direction: column;
    color: white;
    width: 100%;
    height: calc(100vh - 90px);
}

.top-side-bar .side_bar_logo{
    width: 130px;
    margin: 20px;
}

.top-side-bar .side_bar_logo .small-logo{
    display: none;
}

.top-side-bar .header_nav ul{
    flex-direction: column;
}

.header_nav .row .row{
    align-items: center;
    padding: 2px 0;
}

.header_nav .yellow-bar{
    margin-right: 20px;
    height: 30px;
    width: 1.5px;
}

.header_nav i{
    padding-right: 10px;
    font-size: 20px;
}


.header_playlist .playlist{
    padding: 22px;
}

.header_playlist .playlist h3{
    padding-bottom: 10px;
    font-size: 14px;
}

.header_playlist .playlist .playlist_nome{
    margin-top: 18px;
    font-size: 14px;
}

.playlist .row{
    flex-direction: column;
}

.playlist_crea .row{
    flex-direction: row;
    align-items: center;
}

.playlist_crea .plus-square{
    width: 36px;
    height: 36px;
    position: relative;
    margin-right: 8px;
    background-color: #909090;
}

.playlist_crea:hover .plus-square{
    background-color: white;
}

.playlist_crea .plus-square i{
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-side-bar{
    padding: 22px 22px 0;
}

.bottom-side-bar.row{
    flex-direction: column;
}

.bottom-side-bar .side_bar_download .arrow-circle{
    width: 12px;
    height: 12px;
    border: 1px solid var(--graytext);
    font-size: 8px;
    padding: 6px;
    position: relative;
    border-radius: 50%;
    margin-right: 6px;
}

.side_bar_download .row{
    align-items: center;
}

.bottom-side-bar .side_bar_download .arrow-circle i{
    font-size: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--graytext);
}

.bottom-side-bar .side_bar_download p{
    font-size: 14px;
}

.bottom-side-bar .side_bar_download::after {
    content: '';
    display: block;
    height: 1px;
    background-color: var(--graytext);
    width: 100%;
    margin-right: 22px;
    margin: 6px 0 10px 0;
}

.bottom-side-bar .user_circle{
    overflow: hidden;
    width: 22px;
    height: 22px;
    background-color: gray;
    font-size: 8px;
    padding: 6px;
    position: relative;
    border-radius: 50%;
    margin-right: 6px;
}

.bottom-side-bar .user_circle i{
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.bottom-side-bar .side_bar_user .row{
    align-items: center;
    padding-bottom: 5px;
}

.bottom-side-bar .side_bar_user h3{
    font-size: 16px;
}

/**********************************
MAIN UPGRADE
**********************************/

.container-upgrade{
    position: sticky;
    top: 0;
    z-index: 999;
}

.container-upgrade .row{
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    padding-right: 15px;
}

.container-upgrade .upgrade button{
    background-color: var(--darkgray);
    color: white;
    line-height: 42px;
    border: 2px solid white;
    padding: 0 42px;
    border-radius: 25px;
}

.container-upgrade .upgrade button:hover{
    transform: scale(1.1);
}

/**********************************
MAIN CONTENT
**********************************/

main.main{
    overflow: auto;
    position: relative;
}

.container-content {
    color: white;
}

.container-content .nav_content{
    padding: 0 10px;
}

.container-content .nav_content>.row{
    justify-content: center;
    padding-top: 20px;
    flex-wrap: wrap;
    row-gap: 30px;
}

.container-content .nav_content .nav-bar.row{
    flex-direction: column;
    align-items: center;
}

.container-content .nav_content .row li{
    padding: 0 10px;
}

.nav_content .nav-bar p{
    font-family: 'Raleway', sans-serif;
}

.nav_content .nav-bar .yellow-bar{
    margin-top: 2px;
    height: 1.5px;
    width: 30px;
}

.container-content .card_content{
    padding: 35px 15px 0;
}

.container-content:last-child {
    padding-bottom: 30px;
}

.container-content .card_content .card_titol{
    margin-bottom: 25px;
}

.container-content .card_content h2{
    font-size: 28px;
}

.container-content .card_content > .row{
    justify-content: flex-start;
    row-gap: 20px;
}

.container-content .card_content .row .col{
    padding-right: calc(5px + 1vw);
    flex-basis: calc(100% / 6);
}

.container-content .card_content .row.card{
    flex-direction: column;
    align-items: center;
    row-gap: 18px;
}

.container-content .card_content .img_card{
    position: relative;
}

.container-content .card_content .img_card i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    display: none;
}

.container-content .card_content .card:hover img{
    filter: drop-shadow(16px 16px 10px black) brightness(120%)
}

.container-content .card_content .card:hover i{
    display: block;
}


.card_content .card .text_card{
    text-align: center;
}

.card_content .card .text_card h3{
    font-weight: bolder;
    padding-bottom: 10px;
    font-size: 16px;
}

.card_content .card .text_card p{
    font-size: 14px;
}

.container-content .card_content .card_titol p{
    margin-top: 15px;
}

.container-content .popular .card_content .img_card img{
    border-radius: 50%;
}


/**********************************
MEDIA QUERY
**********************************/


@media screen and (max-width: 950px) {
    .impostation-song_time .time-bar{
        margin: 0 12px;
    }

    .container-content .card_content > .row{
        flex-wrap: wrap;
    }

    .container-content .card_content .row .col{
        flex-basis: calc(100% / 4);
    }

}

@media screen and (max-width: 720px) {
    

    .player_type-of-song .type-of-song_text {
        font-size: 12px;
    }

    .player_impostation-song .impostation-song_icon > i:not(.big) {
        font-size: 16px;
        padding: 0 9px;
    }

    .container-content .card_content .row .col{
        flex-basis: calc(100% / 2);
    }
}

@media screen and (max-width: 630px) {

    
    .container-upgrade .upgrade button {
        line-height: 36px;
        padding: 0 26px;
        border-radius: 25px;
    }

    .header{
        width: 50px;
    }

    .player_type-of-song .type-of-song_text{
        font-size: 12px;
        flex-shrink: 1;
    }

    .player_type-of-song .type-of-song_text p:first-child {
        font-size: 13px;
    }

    .player_type-of-song .type-of-song_icon {
        margin-left: 0;
    }


    .player_type-of-song .type-of-song_icon >* {
        padding: 2px;
    }

    .impostation-song_time .time-bar {
        margin: 0 7px;
    }

    .impostation-song_time p {
        font-size: 8px;
    }

    .player_style-song i {
        padding: 3px;
        font-size: 13px;
    }

    .player_style-song .style-song_volume .volume-bar {
        margin-left: 3px;
    }

    .header .header_container .col .none{
        display: none;
    }

    .bottom-side-bar .side_bar_download::after{
        display: none;
    }

    .bottom-side-bar.row{
        flex-direction: column;
        padding: 0;
        align-items: center;
        gap: 10px;
    }

    .top-side-bar .side_bar_logo{
        display: block;
        width: 50px;
        height: 50px;
        margin: 0;
        padding: 8px;
    }

    .top-side-bar .header_nav ul {
        align-items: center;
    }

    .header_nav .nav_text i {
        padding: 10px 0;
        font-size: 25px;
    }

    .top-side-bar .side_bar_logo .small-logo {
        display: block;
    }

    .header_nav i {
        padding-right: 0;
        font-size: 24px;
    }

}

@media screen and (max-width: 530px) {
    .player_impostation-song .impostation-song_icon .big {
        margin: 0 10px;
        font-size: 24px;
    }

    .player_impostation-song .impostation-song_icon > i:not(.big) {
        font-size: 14px;
        padding: 0 5px;
    }

}



@media screen and (max-height: 690px) {
    .header_container .col:first-child{
        overflow: hidden;
    }
}


@media screen and (max-height: 375px) {
    .header_container .header_playlist,
    .header_container .col:last-child {
        display: none;
    }
}